body{
    background-color: skyblue;
   
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    float: right;
    color: aliceblue;
   margin-right: 30px;
  font-weight: 800;
   font-size: 20px;      
}
table, th, td {
    border: 3px solid white;
}
th, td {
    padding: 8px;
    text-align: left;
    background-color: black;
    color: aliceblue; 
}

.box{
    width: 500px;
    margin: 5px auto;
    padding: 10px 20px 30px;
    color: aliceblue;
    background-color:rgba(0,0,0.5);
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 30px;
    float: left;
    
}

.btn{
    font-weight: 900;
    font-size: 20px;
}

#dropdown{
    font-weight: 900;
    font-size: 20px;
}
